body{
    background-color: blueviolet;
    font-family: 'Bree Serif', serif;
    background-image: url(/img/img6.jpg);
    background-repeat: no-repeat;
    width: 100%
}

.header {
    background-color: black;
    color: white;
    font-family: 'Bree Serif',serif;
}

.left {
    position: absolute;
    left: 34px;
    top: 20px;
    display: inline-block;

}

.left img {
    width: 180px;
    height: 120px;


}

.left div {
    text-align: center;
    font-size: 30px;
    line-height: 0px;
}

.right {
    position: absolute;
    right: 34px;
    top: 20px;
    display: inline-block;

}

.mid {
    display: block;
    width: 40%;
    margin: 34px auto;



}

.navbar {
    display: inline-block;
}

.navbar li {
    display: inline-block;
    font-size: 25px;


}

.navbar li a {
    color: rgb(217, 203, 203);
    text-decoration: none;
    padding: 10px 10px;
}

.navbar li a:hover,
.navbar li a.active {
    text-decoration: underline;
    color: grey;
}