body {
    color: rgb(247, 237, 237);
    margin: 0psx;
    padding: 0%;
    background-image: url('../img/bg.jpg');
    height: 100;
    font-family: 'Bree Serif', serif;
}

.left {
    position: absolute;
    left: 34px;
    top: 20px;
    display: inline-block;

}

.left img {
    width: 180px;
    height: 120px;


}

.left div {
    text-align: center;
    font-size: 30px;
    line-height: 0px;
}

.right {
    position: absolute;
    right: 34px;
    top: 20px;
    display: inline-block;

}

.mid {
    display: block;
    width: 40%;
    margin: 34px auto;



}

.navbar {
    display: inline-block;
}

.navbar li {
    display: inline-block;
    font-size: 25px;


}

.navbar li a {
    color: rgb(217, 203, 203);
    text-decoration: none;
    padding: 10px 10px;
}

.navbar li a:hover,
.navbar li a.active {
    text-decoration: underline;
    color: grey;
}

.but {
    margin: 0px 0px;
    background-color: rgb(2, 2, 12);
    color: rgb(255, 255, 255);
    padding: 8px 14px;
    font-size: 20px;
    font-family: 'Bree Serif', serif;
    cursor: pointer;
    border: solid 2px gray;
}

.but:hover {
    background-color: rgb(95, 92, 92);
}

.container {
    border: 4px solid white;
    margin: 124px 72px;
    padding: 53px 39px;
    width: 29%;
    height: auto;
    border-radius: 28px;
}

.form-group input {
    text-align: center;
    display: block;
    width: 345px;
    padding: 3px;
    border: 2px solid white;
    margin: 4px auto;
    font-size: 28px;
    border-radius: 9px;
}

.container h1 {
    text-align: center;
}

.container button {
    display: block;
    width: 102%;
    margin: auto;
    text-align: center;
    background-color: #2cff00;
    border-radius: 15px;
}



#title {
    color:green;
}